[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyOpenSSL = "*"
autopep8 = "*"
cryptography = "*"
idna = "*"
requests = "*"

[requires]
python_version = "3.7"
